<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="McSwiss.Properties.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <McSwiss.Properties.settings>
            <setting name="PGSuffix" serializeAs="String">
                <value> Prev</value>
            </setting>
            <setting name="SGNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SGLetters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S3AccessKeyID" serializeAs="String">
                <value />
            </setting>
            <setting name="S3Secret" serializeAs="String">
                <value />
            </setting>
        </McSwiss.Properties.settings>
    </userSettings>
</configuration>